body {
  position: relative;
  min-width: 550px;
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
}

body::after,
body::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #434cc1;
}

body::before {
  top: 0;
  height: 290px;
  background-repeat: repeat-x;
  background-image: url(img/bg.png);
  background-position: 0 0;
}

body::after {
  bottom: 0;
  min-height: 55px;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  width: 100%;
  font-size: 28px;
  line-height: 30px;
}

.container {
  width: 450px;
  margin: 0 auto;
}

.site-header {
  position: relative;
  padding-bottom: 20px;
  padding-top: 130px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-image: url(img/clew.svg);
  background-position: center 50px;
}

.site-header img {
  display: none;
}

.site-header button {
  padding: 5px 10px;
  border-radius: 5px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.features p {
  min-height: 55px;
  margin: 0;
  padding: 60px 15px 0;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 15px 20px;
  flex-basis: calc(50% - 45px);
}

 .features p:nth-of-type(1) {
  margin-right: 20px;
  background-image: url(img/bottle-no-round.svg);
}

.features p:nth-of-type(2) {
  background-image: url(img/cat-no-round.svg);
}

.feature-cat {
  display: none;
}

.skills {
  margin-bottom: 45px;
}

.skills-list {
  padding: 0;
  list-style: none;
}

.skills-item {
  position: relative;
  margin-bottom: 15px;
}

.skills-list li::before {
  content: "";
  background-color: #ff8a00;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.site-footer {
  position: relative;
  z-index: 1;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

/* Новый дизайн */
body.new-design  {
  min-width: auto;
  margin: 8px;
  font-family: "Arial", sans-serif;
  color: #000000;
  background: #ffffff url("img/keks-background.jpg") no-repeat 50% 0;
}

body.new-design::after,
body.new-design::before {
  content: none;
}

.new-design h1 {
  width: 260px;
  font-family: "Georgia", serif;
}

.new-design h2 {
  width: auto;
  font-size: 1.5em;
  line-height: inherit;
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}

.new-design .container {
  width: 480px;
}

.new-design .site-header {
  padding: 0;
  text-align: left;
  color: inherit;
  background: none;
}

.new-design .site-header img {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.new-design .site-header button {
  /* position: absolute;
  top: 10px;
  right: 0; */
  display: block;
  margin: 0 auto;
}

.new-design .features {
  display: block;
  margin-bottom: 30px;
}

.new-design .features p {
  vertical-align: top;
  display: inline-block;
  min-height: auto;
  width: 30%;
  margin: 0 5px;
  padding: 60px 0 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-position: center top; 
}

.new-design .feature-kitten {
  background-image: url("img/bottle.svg");
}

.new-design .feature-cat {
  background-image: url("img/cat.svg");
}

.new-design .feature-train {
  background-image: url("img/whistle.svg");
}

.new-design .skills-item {
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
  color: #999999;
}

.new-design .standard {
  border-color: #ffc5b3;
  color: #666666;
}

.new-design .vip {
  border-color: #ff5a26;
  color: #000000;
}

.new-design .skills-list li::before {
  content: none;
}

.new-design .site-footer {
  z-index: 0;
  min-height: auto;
  align-items: top;
  color: #999999;
}
